.hidden {
    display: none;
}
/* .shown {
} */

.check-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.check-first {
    width: 100%;
    height: 46%;
    background-color: #6c44f5;

    position: relative;
}
.check-second {
    width: 100%;
    height: 54%;
    /* background-color: #fff; */
}
.check-header {
    width: 90%;
    height: 20px;
    margin: 0 auto;

    position: absolute;
    top: 10px;

}

.check-header-left-image {
    height: 100%;
    width: 20%;
    margin-top: 10px;
}
.check-header-left-image > img {
    width: 100%;
    height: auto;
}
.check-header-right-button {
    height: 100%;
    width: 20%;
}

.check-btn {
    border: none;
    background-color: rgba(240,240,240, .5);
    color: #37343a;
    
    width: 20px;
    height: 20px;
    border-radius: 20px;


    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 9px;
    font-weight: 400;

    position: absolute;
    right: 0;
}

.check-first > img {
    display: block;
    position: absolute;
    bottom: -8px;
}
.check-second {
    padding: 0 5%;
    position: relative;
}
.check-second-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.check-second-checkmark {
    position: absolute;
    top: -10px;
}
.check-second-wrapper > h1 {
    font-family: 'Semibold';
    font-size: 1.3rem;
    padding-top: 6vh;
}

.check-second-wrapper > p {
    color: #9c9c9e;
    font-family: 'Regular';
    font-size: 0.8rem;
    padding: 0;
    padding-top: 0;
    text-align: center;
}
.check-second-time {
    padding: 3% 0;
}
.check-second-time > h2 {
    font-family: 'Semibold';
    font-size: 1.6rem;
    color: #3f3748;
}
.check-second-time-buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    bottom: 10%;
    padding: 0 5%;
}
.check-second-time-buttons > button {
    color: #3e9ffc;
    border-bottom: 1px solid #3e9ffc;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.colorful-btn {
    background-color: rgba(240,240,240, .3);
}
.colorful-btn > i {
    color: #b5a5f7;
}



@media only screen and (max-width: 767px) {
    .check-second-wrapper > h1 {
        padding-top: 20%;
    }
}
