.stick {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: -10px;
}

.stick>button {
    width: 70px;
    height: 6px;
    border-radius: 70px;
    background-color: #bdbbbf;
    padding: 0;

}

@media (max-width: 767.98px) {
    .myModal_header,
    .myModal-main-first,
    .myModal-main-second-arrowRight,
    .myModal-footer-questions_wrapper,
    .myModal-main-second-arrowDown {
        display: none !important;
    }

    .myModal-footer {
        display: flex !important;
        /* padding: 20px 25px; */
        padding: 3vh; 
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        border-bottom: 2px solid #e9e9e9;
    }

    .myModal-footer-PaylixLogo>img {
        width: 100%;
    }

    .myModal-main {

        position: absolute;
        /* top: 100px; */
        top: 15vh;
        border-bottom: 2px solid #e9e9e9;

        height: auto;
        /* padding: 10px 0; */
        padding: 2vh 0;
    }

    .myModal-main-second-wrapLeft,
    .myModal-main-second-num2>input {
        border-bottom: none;
        color: #4c4752;
    }

    .check-second-wrapper {
        /* position: relative; */
        position: absolute;
        top: 13vh;
        /* min-height: 200px;
        height: 20vh; */
    }


    .check-second-wrapper>p {
        text-align: left;
        font-size: 0.85rem;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.1rem;
    }

    .check-second {
        height: auto;
        position: absolute;
        top: 0;
    }

    .check-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .check-second {
        background-color: transparent;
        height: 100%;
    }

    .check-second-time {
        padding: 0;
    }

    .check-second-time-buttons {
        width: 100%;
        padding: 0;
        position: absolute;
        padding: 0 5%;
        bottom: 10vh;
        top: 0;
    }

    .nice-to-meet>img {
        width: 27vh;
        left: 15%;
        bottom: 10vh;
    }

    .nice-header-left-image {
        position: absolute;
        left: 7%;
    }

    .nice-header-left-image>img {
        position: absolute;
        bottom: 10vh;
    }
    .first-page {
        height: 100%;
        position: absolute;
        bottom: 0;

    }
}

.mobile {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 60vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




.mobile>.myModal_header {
    display: none;
}

.mobile-btn {
    width: 70px;
    height: 50px;
    border-radius: 50px;
    background-color: #e4e3e6;

    position: absolute;
    right: 25px;
    top: 23vh;
}

.mobile-btn>i {
    line-height: 50px;
    color: #fff;
}

.touch-pay-done {
    font-family: 'Semibold';
    font-size: 1rem;
    color: #9f9aa3;


    /* position: absolute;
    top: 0;
    padding: 25px; */
}

.check-second-wrapper>.successfully-sent {
    color: #393142;
    font-family: 'Regular';
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0;
    margin-bottom: 2vh;
}

.mobile-bottom-grey {
    width: 100%;
    height: 10vh;
    background-color: #312e34;

    position: absolute;
    bottom: 0;
    display: flex !important;
}

.mobile-bottom-grey>img {
    width: 50%;
}