button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: none;
  outline: none;  
  background: none;
}

.wrapper,
.modal-dialog {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.myModal-content {
    width: 420px;
    height: 231px;
}

.myModal_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.myBtn-default {
    border: none;
    background-color: #f0f0f0;
    
    width: 15px;
    height: 15px;
    border-radius: 15px;


    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 9px;
    font-weight: 400;
}